// -----------------------------------------------------------------------------
// Arrows
// -----------------------------------------------------------------------------

.arrow {
  display: inline-block;
  position: relative;
  height: $arrow-dimension;
  width: $arrow-dimension;
  padding: $arrow-padding;
  background-color: $arrow-bg;
  border-radius: $arrow-border-radius;
  overflow: hidden;
  cursor: pointer;
  vertical-align: top;
  @include inline-flex;
  @include align-items(center);
  @include justify-content(center);
  @include transition(background-color $transition-duration-fast $transition-timing-function-in-out-ui);

  // No focus here because slideshow a11y causes these to keep focus at weird times
  &:hover {
    background-color: $arrow-bg-hover;
    @include transition(background-color $transition-duration-fast $transition-timing-function-in-out-ui);    
  }

  &.arrow--right {
    // Default
  }

  &.arrow--left {
    @include rotate(180deg);
  }

  &.arrow--up {
    @include rotate(-90deg);
  }

  &.arrow--down {
    @include rotate(90deg);
  }
}

.arrow__icon {
  position: relative;
  width: $arrow-icon-length;
  height: $arrow-icon-width;
  background: $arrow-icon-color;

  &:before,
  &:after {
    content: "";
    position: absolute;
    background: $arrow-icon-color;
    height: $arrow-icon-tip-length;
    right: 0;
    width: $arrow-icon-width;
  }
  
  &:before {
    top: -#{$arrow-icon-tip-length};
    transform: rotate(-#{$arrow-icon-tip-skew});
    transform-origin: bottom right;
  }

  &:after {
    top: $arrow-icon-width;
    transform: rotate($arrow-icon-tip-skew);
    transform-origin: top right;
  }
}
