// Overrides for chosen dropdowns

.chosen-container {
  width: 100% !important;
  max-width: 100%;
  font-size: $font-size-small;

  .chosen-drop {
    box-shadow: none;
    border-color: $input-border-focus;
    border-top: 1px solid $input-border-focus;
    clip: auto;
    opacity: 0;
    pointer-events: none;
    @include transition(all $transition-duration-fast $transition-timing-function-base);
  }

  &.chosen-with-drop .chosen-drop {
    opacity: 1;
    pointer-events: auto;
    @include transition(all $transition-duration-fast $transition-timing-function-base);
  }

  .chosen-results {
    margin: 0;
    padding: 0;
    color: $input-color;

    li {
      padding: $padding-base-vertical*2 $padding-base-horizontal;
      line-height: inherit;
      @include transition(all $transition-duration-fastest $transition-timing-function-base);

      &.result-selected {
        color: $input-focus-color;
      }

      &.highlighted {
        background-color: $color-black;
        color: $color-white;
        background-image: none;
      }
    }
  }
}

.chosen-container-single {
  .chosen-single {
    @extend .form-control;
    height: 2.85rem; // match buttons - normal form controls are fine, just chosen is weird
    box-shadow: none;

    span {
      line-height: 2; // needs this fix to vertically align the label
    }

    div {
      width: 30px;

      b {
        opacity: 0.3;
        @include transition(all $transition-duration-fast $transition-timing-function-base);
      }
    }
  }

  .chosen-search,
  .chosen-search-input {
    display: none;
  }

  .chosen-drop {
    border-radius: $input-border-radius;
  }
}

.chosen-container-active {

  .chosen-single {
    box-shadow: none;
  }

  &.chosen-with-drop .chosen-single {
    border-color: $input-border-focus;
    background-color: $input-bg;
    background-image: none;

    div b {
      opacity: 1;
      @include rotate(180deg);
    }
  }
}

.chosen-disabled {

  &, .chosen-single {
    cursor: $cursor-disabled;
  }
}

// Fix sprite path
.chosen-rtl .chosen-search input[type="text"],
.chosen-container-single .chosen-single abbr,
.chosen-container-single .chosen-single div b,
.chosen-container-single .chosen-search input[type="text"],
.chosen-container-multi .chosen-choices .search-choice .search-choice-close,
.chosen-container .chosen-results-scroll-down span,
.chosen-container .chosen-results-scroll-up span {
  background-image: none !important;
}

.chosen-container-single .chosen-single div b {
  background-position: right center;
  background: {
    image: url($svg-select-icon) !important;
    repeat: no-repeat;
    position: center !important;
    color: transparent;
    size: 12px auto !important;
  }
}
