// -------------------------
// Styleguide + Components Guide
// -------------------------

.template-page-styles,
.template-page-components,
.template-page-how-to {
  code {
    font-size: $font-size-small;
    padding: 1px 5px;
    background: darken($color-white, 3%);
    border: 1px solid darken($color-white, 6%);
    border-radius: 5px;
    color: #ad084b;
  }
}

.docs-title {
  max-width: 450px;
  margin: 180px 0 50px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.docs-subtitle {
  margin: 80px 0 50px;
}

.docs-subsubtitle {
  margin: 40px 0 25px;
}

.docs-well {
  padding: $grid-gutter-width / 2;
  margin: $spacer*2 (-1 * ($grid-gutter-width / 2));
  border: 1px solid darken($body-bg, 15%);
  border-radius: 3px;
  box-shadow: -4px 6px 10px -8px transparentize(darken($body-bg, 20%), 0.2);

  &.docs-well--dark {
    background-color: $color-black;
    border-color: $color-black;
    border-radius: 0;
  }

  &.docs-well--constrained {
    max-width: 500px;
  }  
}

.docs-code-example {
  padding: $grid-gutter-width/2;
  background: darken($body-bg, 3%);
  margin-bottom: $spacer*2;

  pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;

    code {
      font-size: $font-size-small;
      color: $text-color;
      background: none;
      border: none;
      padding: none;
    }
  }
}

.styleguide-icons {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    margin: 0 18px 0 0;
  }
}

/*
 * Grid examples
 *
 * Highlight the grid columns within the docs so folks can see their padding,
 * alignment, sizing, etc.
 */

.show-grid {
  margin-bottom: 15px;
}
.show-grid [class^="col-"],
.show-grid.content-grid .content-grid__item > * {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  background-color: transparentize(#ad084b, 0.85);
  border: 1px solid #ddd;
  border: 1px solid transparentize(#ad084b, 0.8);
}

.show-grid.content-grid .content-grid__item > * {
  text-align: center;
}

.styleguide-color {
  display: inline-block;
  margin-right: 15px;
}

.styleguide-color__swatch {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
  border: 1px solid transparent;

  &.styleguide-color__swatch--black {
    background-color: $color-black;
  }
  &.styleguide-color__swatch--grey {
    background-color: $color-grey;
  }
  &.styleguide-color__swatch--white {
    background-color: $color-white;
    border-color: darken($color-white, 5%);
  }
  &.styleguide-color__swatch--primary {
    background-color: $color-primary;
  }
}