// -----------------------------------------------------------------------------
// Dots
// -----------------------------------------------------------------------------

.dots {
  margin: 0 -#{($dot-spacing / 2)} -#{$dot-bottom-margin}; // account for the 2px padding + 1px border on the dot
  padding: 0;
  overflow: hidden;
}

.dot {
  display: inline-block;
  position: relative;
  margin-left: $dot-spacing / 2;
  margin-right: $dot-spacing / 2;
  margin-bottom: $dot-spacing;
  padding: $dot-padding;
  height: $dot-size;
  width: $dot-size;
  cursor: pointer;
  vertical-align: top;
  border: $dot-border-width solid $dot-border-color;
  border-radius: $dot-border-radius;
  overflow: hidden;

  line-height: $dot-size - $dot-padding*2 - 2px;
  font-size: $font-size-small;
  text-transform: uppercase;
  text-align: center;

  @include transition( border-color $transition-duration-fast $transition-timing-function-out );

  &.is-active {
    border-color: $dot-active-border-color;
    @include transition( border-color $transition-duration-fast $transition-timing-function-in );
  }

  &.is-disabled {
    cursor: not-allowed;

    .dot__inner {
      opacity: 0.2;
    }

    // Add a strike through on disabled dots
    &:before {
      content: "";
      position: absolute;
      top: -20%; // 140% - 20%*2 = centers the strikethrough
      left: 50%;
      height: 140%;
      width: 1px;
      background-color: $dot-active-border-color;
      border: none;
      @include rotate(45deg);
    }
  }

  .dot__inner {
    height: 100%;
    border: 1px solid transparent;
    background: {
      size: auto;
      position: center;
      repeat: no-repeat;
    }    
  }

  // These dot modifier classes use !important to override inline background-color styles
  // That way, the inline style functions as a fallback if the modifier class doesn't exist (we create and apply these classes programatically, not always guaranteed to exist)
  &.dot--white {
    .dot__inner {
      border-color: darken($color-dot-white, 10%) !important;
      background-color: $color-dot-white !important;
    }
  }
  &.dot--black {
    .dot__inner {
      border-color: $color-dot-black !important;
      background-color: $color-dot-black !important; 
    }
  }
  &.dot--grey,
  &.dot--gray {
    .dot__inner {
      border-color: $color-dot-grey !important;
      background-color: $color-dot-grey !important;
    }
  }
  &.dot--khaki {
    .dot__inner {
      border-color: $color-dot-khaki !important;
      background-color: $color-dot-khaki !important;
    }
  }
  &.dot--pink {
    .dot__inner {
      border-color: $color-dot-pink !important;
      background-color: $color-dot-pink !important;
    }
  }
  &.dot--orange {
    .dot__inner {
      border-color: $color-dot-orange !important;
      background-color: $color-dot-orange !important;
    }
  }
  &.dot--purple {
    .dot__inner {
      border-color: $color-dot-purple !important;
      background-color: $color-dot-purple !important;
    }
  }
  &.dot--brown {
    .dot__inner {
      border-color: $color-dot-brown !important;
      background-color: $color-dot-brown !important;
    }
  }
  &.dot--tan {
    .dot__inner {
      border-color: $color-dot-tan !important;
      background-color: $color-dot-tan !important;
    }
  }
  &.dot--red {
    .dot__inner {
      border-color: $color-dot-red !important;
      background-color: $color-dot-red !important;
    }
  }
  &.dot--green {
    .dot__inner {
      border-color: $color-dot-green !important;
      background-color: $color-dot-green !important;
    }
  }
  &.dot--yellow {
    .dot__inner {
      border-color: $color-dot-yellow !important;
      background-color: $color-dot-yellow !important;
    }
  }
  &.dot--blue {
    .dot__inner {
      border-color: $color-dot-blue !important;
      background-color: $color-dot-blue !important;
    }
  }
}
