
// -----------------------------------------------------------------------------
// Filter Bar on PLP
// -----------------------------------------------------------------------------

.Collection-filter {

  @extend .u-pos-rel;
  @extend .z-index-1;
}

.Filter-container {

  @extend .container;
  @include translate3d(0, 0, 0);
}

.Filters {

  @include display-flex;
  @extend .flex-justify-between;
  @extend .flex-align-items-center;
}

.Filter-label {

  @include display-flex;
  @include flex(1);
  @extend .flex-align-self-center;
}



/*============================================================================
  Filter Modal (on Mobile)
==============================================================================*/

/*================ Filter Modal Scaffolding ================*/

.Filter-modalContainer {

  background: #f9f9f9;
  @extend .Modal-container;
  @include media-query($large-up) { display: none; }

  .Select {}
  .Filter-itemWrap {}
  .Filter-modalContent {}
  .Filter-modalContent .Filter-item {}
}

.Filter-modalClose {

  @extend .Modal-closeIcon;
  @extend .flex-pseudo-vertical-center;
  @include flex-direction(column);
}

.Filter-modalHeader {

  @extend .u-pos-rel;
}

.Filter-mobileWrapper {}
.Filter-itemWrap {}
.Filter-item {}

/*================ Filter Element Visibilty Toggles ================*/

// Mobile clear filters buttons
@include media-query($medium-down) {
  .Filter-mobileClear {}

  #clear-filter-btn,
  #zero-indicator {
    display: none;
    @extend .u-pos-rel;

    &.active { display: block; }
  }
}

// Toggles visiblity of sort by popover
.Popover--sortBy.Select-container { display: none; }
.Popover--sortBy.Select-container.is-active { display: block; }

// Filter Popover Visibilty Toggles
.FilterPopover {

  .Content { display: block; }
  .Error { display: none; }

  &.is-filter-disabled {
    .Content { display: none; }
    .Error { display: block; }
  }
}

.Select--filter.filter--mobile {
  @include media-query($large-up) { display: none; }
}


/*================ Filter Popover styles ================*/

.Filter-modalContainer .Popover {
  @extend .u-pos-rel;
  display: none;

  .Popover-content {
    visibility: collapse;
    height: 0;

    &:after { display: none; }
  }
}

.Filter-modalContainer .Popover.is-active {
  display: block;

  .Popover-content {
    visibility: visible;
    height: auto;
    padding: 0;
    border: 0;
    box-shadow: none;
  }
}
