// -------------------------
// Modals
// -------------------------

.minimal-input-box {
  position: relative;
}

.minimal-input-box__input {
  @extend .form-control;
  padding: 0 30px 0 0;
  border-width: 0 0 2px 0;
  background-color: transparent;
  height: $minimal-input-height;
}

.minimal-input-box__submit {
  @extend .btn-link;
  position: absolute;
  top: -7px;
  bottom: 0;
  right: 0;
  padding: 0;
  width: 30px;
  text-align: right;
  cursor: pointer;
}

// White form controls for placement on dark backgrounds
.minimal-input-box--inverted {

  .minimal-input-box__input {
    color: $color-white;

    &:focus {
      color: $color-white;
      border-color: $color-white;
    }
  }


  .minimal-input-box__submit {
    svg {
      fill: $color-white;
    }
  }
}

// Large minimal input
.minimal-input-box--large {

  .minimal-input-box__input {
    height: $minimal-input-height-large;
    font-size: $font-size-large;
  }

  .minimal-input-box__submit {
    svg {
      height: 25px;
      width: 25px;
    }
  }  
}