// -------------------------
// Overlays
// -------------------------

// Kill the scroll on the body
.overlay-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.overlay {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: $overlay-bg-color;
  z-index: $z-index-overlay;
  -webkit-overflow-scrolling: touch;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;

  @include transition(opacity $transition-duration-overlay $transition-timing-function-overlay-out);

  .overlay-open & {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  &.is-visible {
    display: block;
  }

  &.is-faded-in {
    opacity: 1;
    @include transition(opacity $transition-duration-overlay $transition-timing-function-overlay-in);  
  }
}

.overlay__cover {
  @include stretch-within;
  @include display-flex;
  @include align-items(center);
}

.overlay__overflow {
  height: 100%;
  width: 100%;
  padding-top: $grid-gutter-width * 2;
  padding-bottom: $grid-gutter-width * 2;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.overlay__content {
  @include container-fixed;
  max-width: $container-xl;

  @include translateY(-30px);
  @include transition-transform($transition-duration-overlay $transition-timing-function-overlay-out);

  .is-faded-in & {
    @include translateY(0%);
    @include transition-transform($transition-duration-overlay $transition-timing-function-overlay-in);
  }
}

.overlay__close {
  position: absolute;
  z-index: 1;
  top: $grid-gutter-width/2;
  right: $grid-gutter-width/2;
}