// -------------------------
// Product Card
// -------------------------

.product-card {
  height: 100%;
}

.product-card__gallery {
  position: relative;
  width: 100%;
  margin-bottom: 11px;

  .product-card__qv-trigger-wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 55px;
    text-align: center;
  }
}

.product-card__gallery-image {

  &,
  img {
    width: 100%;
  }
}

.product-card__gallery-image--alt {
  background: $body-bg;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  @include transition(opacity $transition-timing-function-out $transition-duration-base);

  .product-card:hover &,
  .product-card:focus & {
    opacity: 1;
    @include transition(opacity $transition-timing-function-in $transition-duration-fast);    
  }
}

.product-card__info {

}

.product-card__info-title,
.product-card__info-price {

}

.product-card__info-title {

}

.product-card__info-price {

}


.product-card__qv-trigger-wrap {
  display: none;
  opacity: 0;
  @include transition(opacity $transition-timing-function-out $transition-duration-base);

  @media (min-width: $screen-sm-min) {
    display: block;
  }

  .product-card:hover &,
  .product-card:focus & {
    opacity: 1;
    @include transition(opacity $transition-timing-function-in $transition-duration-fast);
  }
}
