// -------------------------
// Quick View
// -------------------------

.quick-view {
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  height: 0px;
  overflow: hidden;
}

.quick-view__close {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 14px;

  @media (min-width: $screen-sm-min) {
    right: 20px;
  }
}

.quick-view__contents {
  height: 100%;
  @extend .container-fluid-max;
  overflow: hidden;
  display: block;
}

.quick-view__contents-body {
  position: relative;
  margin-top: $quick-view-margin-vertical;
  margin-bottom: $quick-view-margin-vertical;
  padding: $quick-view-padding-vertical 0;
  background: $quick-view-background;
  border-top: $quick-view-border-width solid transparent;
  border-bottom: $quick-view-border-width solid transparent;
  @include transition(border-color $transition-duration-slow $transition-timing-function-in-out-ui);

  .is-open & {
    border-top-color: $quick-view-border-color;
    border-bottom-color: $quick-view-border-color;
  }
}

.quick-view__close {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 14px;
  
  @media (min-width: $screen-sm-min) {
    right: 20px;  
  }
}
