// --------------------------------------------------------
// Layout
// --------------------------------------------------------

// -------------------------
// Flexbox
// -------------------------

@mixin display-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-direction($value: row) {
  @if $value == row-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
  } @else if $value == column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
  } @else if $value == column-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
  } @else {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
  }
  -webkit-flex-direction: $value;
  -moz-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

@mixin flex($fg: 1, $fs: null, $fb: null) {

  // Set a variable to be used by box-flex properties
  $fg-boxflex: $fg;

  // Box-Flex only supports a flex-grow value so let's grab the
  // first item in the list and just return that.
  @if type-of($fg) == 'list' {
    $fg-boxflex: nth($fg, 1);
  }

  -webkit-box-flex: $fg-boxflex;
  -webkit-flex: $fg $fs $fb;
  -moz-box-flex: $fg-boxflex;
  -moz-flex: $fg $fs $fb;
  -ms-flex: $fg $fs $fb;
  flex: $fg $fs $fb;
}

@mixin flex-pseudo-space {
  content: '';
  display: block;
  @include flex(1);
}

.flex,
.flex-row {
  @include display-flex;
  @include flex-direction(row);
}

.flex-column,
.flex-col {
  @include display-flex;
  @include flex-direction(column);
}

.flex0 {
  @include flex(0,0,auto);
}

.flex1-0 {
  @include flex(1,1,0);
}

// -------------------------
// Responsive Flexbox!!
//
// https://v4-alpha.getbootstrap.com/utilities/flexbox/
// -------------------------


@for $i from 1 through 20 {
  .flex-ps-#{i}:after {
    content: '';
    display: block;
    @include flex(#{$i});
  }
}

@for $i from 1 through 20 {
  .flex#{$i} {
    @include flex(#{$i});
  }
  .flex-#{$i} {
    @include flex(#{$i});
  }
}

@include media-query($small-up) {
  @for $i from 1 through 20 {
    .flex-sm-#{$i} {
      @include flex(#{$i});
    }
  }
}

@include media-query($medium-up) {
  @for $i from 1 through 20 {
    .flex-md-#{$i} {
      @include flex(#{$i});
    }
  }
}

@include media-query($large-up) {
  @for $i from 1 through 20 {
    .flex-lg-#{$i} {
      @include flex(#{$i});
    }
  }
}

@include media-query($widescreen) {
  @for $i from 1 through 20 {
    .flex-xl-#{$i} {
      @include flex(#{$i});
    }
  }
}

.flex-spacer {} // just a dummy class

.flex-auto {
  @include flex(0, 0, auto);
}

.flex-vCenter {
  @include display-flex;
  @include flex-direction(column);
  &:before,
  &:after {
    @include flex(1);
    content: '';
    display: block;
  }
}

.flex-pseudo-vertical-center {
  &:after,
  &:before {
    @include flex-pseudo-space;
  }
}

.flex-pseudo-before {
  &:before {
    @include flex-pseudo-space;
  }
}
.flex-pseudo-after {
  &:after {
    @include flex-pseudo-space;
  }
}

.flex-direction--row-reverse {
  @include flex-direction(row-reverse);
}

.flex-direction--column-reverse {
  @include flex-direction(column-reverse);
}

.flex-align-items-start {
  @include display-flex;
  align-items: flex-start;
}

.flex-align-items-center {
  @include display-flex;
  align-items: center;
  // max-width: 100%; // IE10-11 fix for overflow
}


// -------------------------
// Align Self
// -------------------------

.flex-align-self-end { align-self: flex-end; }
.flex-align-self-center { align-self: center; }
.flex-align-self-start { align-self: flex-start; }

// -------------------------
// Align Items
// -------------------------

.flex-align-right,
.flex-align-items-end { align-items: flex-end; }
.flex-align-items-start { align-items: flex-start; }

// -------------------------
// Justify Content
// -------------------------

.flex-justify-left {
  @include display-flex;
  justify-content: flex-start;
}

.flex-justify-right {
  @include display-flex;
  justify-content: flex-end;
}

.flex-justify-center {
  @include display-flex;
  justify-content: center;
}

.u-justifyContent--between,
.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-around {
  justify-content: space-around;
}

.flex-wrap { flex-wrap: wrap; }

// --------------------------------------------------------
// DEPRECATING: DON'T USE `flex-[breakpoint]-reflow`, see 'Updated Naming Conventions' for usage
// --------------------------------------------------------

.flex-mobile-reflow,
.flex-landscape-reflow,
.flex-tablet-reflow,
.flex-desktop-reflow {
  @include display-flex;
  @include flex-direction(column);
}
.flex-mobile-reflow--reverse,
.flex-landscape-reflow--reverse,
.flex-tablet-reflow--reverse
.flex-desktop-reflow--reverse {
  @include display-flex;
  @include flex-direction(column-reverse);
}

@media (min-width: 320px) {
  .flex-mobile-reflow--reverse,
  .flex-mobile-reflow {
    @include flex-direction(row);
  }
}

@include media-query($small-up) {
  .flex-landscape-reflow,
  .flex-landscape-reflow--reverse {
    @include flex-direction(row);
  }
}

@include media-query($medium-up) { // min-width: 768px
  .flex-tablet-reflow--reverse,
  .flex-tablet-reflow {
    @include flex-direction(row);
  }
}

@include media-query($large-up) { // min-width: 992px
  .flex-desktop-reflow,
  .flex-desktop-reflow--reverse {
    @include flex-direction(row);
  }
}

// --------------------------------------------------------
// Updated Naming Conventions
// --------------------------------------------------------

// ------------
// Flex Responsive Reflow
// ------------

.flex-col-xsmall-down { // min-width: 586px
  @include display-flex;
  @media (min-width: 586px) { @include flex-direction(row); }
  @media (max-width: 587px) { @include flex-direction(column); }

  &.flex-col-reverse {
    @media (max-width: 587px) { @include flex-direction(column-reverse); }
  }
}

.flex-col-small-down { // flex rows starting @ 768px
  @include display-flex;
  @media (min-width: 768px) { @include flex-direction(row); }
  @media (max-width: 767px) { @include flex-direction(column); }

  &.flex-col-reverse {
    @media (max-width: 767px) { @include flex-direction(column-reverse); }
  }
}

.flex-col-medium-down { // min-width: 992px
  @include display-flex;
  @media (min-width: 992px) { @include flex-direction(row); }
  @media (max-width: 991px) { @include flex-direction(column); }

  &.flex-col-reverse {
    @media (max-width: 991px) { @include flex-direction(column-reverse); }
  }
}

.flex-col-reverse { @include flex-direction(column-reverse); }
.flex-row-reverse { @include flex-direction(row-reverse); }
