// -----------------------------------------------------------------------------
// Utilties
// -----------------------------------------------------------------------------

/*================ Typography ================*/

// Alignment
.u-ta-center { text-align: center; }
.u-ta-right { text-align: right; }
.u-ta-left { text-align: left; }
.u-ta-justify { text-align: justify; }

// Font Weight
.u-fw-normal { font-weight: $font-weight-normal; }
.u-fw-medium { font-weight: $font-weight-medium; }
.u-fw-bold { font-weight: $font-weight-bold; }

// Font Size
.u-fs-base { font-size: $font-size-base; }
.u-fs-large { font-size: $font-size-large; }
.u-fs-small { font-size: $font-size-small; }
.u-fs-xsmall { font-size: $font-size-xsmall; }

// Text Colors
.u-color-black { color: $color-black; }
.u-color-white { color: $color-white; }
.u-color-grey { color: $color-grey; }
.u-color-primary { color: $color-primary; }

// Transformation
.u-tt-lowercase { text-transform: lowercase; }
.u-tt-uppercase { text-transform: uppercase; }
.u-tt-capitalize { text-transform: capitalize; }
.u-tt-none { text-transform: none; }

// Decoration
.u-td-underline {
  &, &:hover, &:focus { text-decoration: underline; }
}

.u-td-strike { text-decoration: line-through; }
.u-ws-nowrap { white-space: nowrap; }

/*================ Background Colors ================*/

.u-bg-white { background-color: $color-white; }
.u-bg-black { background-color: $color-black; }
.u-bg-grey { background-color: $color-grey; }
.u-bg-primary { background-color: $color-primary; }

/*================ Layout ================*/

.u-margin-normalize { margin: 0; }
.u-margin-auto {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.u-padding-normalize { padding: 0; }
.u-lineHeight-normalize { line-height: 1; }
.u-full-width,
.img-full { width: 100%; }
.u-full-height { height: 100%; }
.u-min-height { min-height: 100%; }
.u-block { display: block; }
.u-inline-block { display: inline-block; }
.u-pos-rel { position: relative; }
.u-pos-abs { position: absolute; }
.u-pos-fix { position: fixed; }

/*================ Z-Index ================*/

@for $z from 1 through 10 {
  .z-index-#{$z} {
    z-index: #{$z};
  }
}

/*================ Hide ================*/

.hide,
.hidden { display: none; }
