/**
 * AJAX Cart Module Styles
 * ---------------------------
 */

// START - Styles for testing
[data-ajax-cart-container] {
  position: fixed;
  top: 30px;
  right: 30px;
  max-width: 400px;
  border: 1px solid #DDD;
  padding: 10px;
  background: #EFEFEF;
}
// END - Styles for testing

.AjaxCart {

}

.AjaxCart-header {

}

.AjaxCart-body {

}

.AjaxCart-footer {

}

.AjaxCart-emptyMessage {

}

.AjaxCart-list {

}

.AjaxCart-item {

}

.AjaxCart-itemImage {

}

.AjaxCart-itemInfo {

}

.AjaxCart-itemTitle {

}

.AjaxCart-itemOptions {

}

.AjaxCart-itemQty {

}

.AjaxCart-itemSize {

}

.AjaxCart-itemPrice {

}

.AjaxCart-itemRemove {

}
