// -------------------------
// AJAX Cart
// -------------------------

// START - Styles for testing
[data-ajax-cart-container] {
  position: fixed;
  top: 30px;
  right: 30px;
  max-width: 400px;
  border: 1px solid #DDD;
  padding: 10px;
  background: #EFEFEF;
}
// END - Styles for testing

.ajax-cart {

}

.ajax-cart__header {

}

.ajax-cart__body {

}

.ajax-cart__footer {

}

.ajax-cart__empty-message {

}

.ajax-cart__list {

}

.ajax-cart__item {

}

.ajax-cart__item-image {

}

.ajax-cart__item-info {

}

.ajax-cart__item-title {

}

.ajax-cart__item-options {

}

.ajax-cart__item-qty {

}

.ajax-cart__item-remove {

}

.ajax-cart__footer {

}

.ajax-cart__footer-row {
  
}
