
// -----------------------------------------------------------------------------
// Hero
// -----------------------------------------------------------------------------

// Hero Heights
.Hero--sm {
  height: 200px;
}

.Hero--md {
  height: 350px;
}

.Hero--lg {
  height: 400px;
}


// Hero Images
.Hero-imageBackground {
  background-position: center center;
  background-size: cover;

  &.l-imageBackground {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
  }
}

// Hero Image Overlay
.Hero-overlayBackground {

  &.l-overlayBackground {
    background: rgba($color-black, .3); // required in this rule for z-index reasons
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
  }
}

// Hero Alignment
.HeroFull-textWrapper {
  &.l-textWrapper {
    align-items: flex-end;
  }
}

// --------------------------------------------------------
// Hero Full Width
// --------------------------------------------------------

.Hero {
  &.l-Hero {
    @include display-flex;
    @include flex-direction(column);
    @include flex(1);
    position: relative;
  }
}

.Hero-container {
  &.l-container {
    @extend .container;
    @include display-flex;
    @include flex-direction(column);
    @include flex(1);
    position: relative;
    width: 100%;
  }
}

.Hero-container.is-shrunken {
  &.l-container {
    @extend .container--isShrunken;
  }
}

.Hero-textWrapper {
  &.l-textWrapper {
    @include display-flex;
    @include flex(1);
    align-items: center;
  }
}

.Hero-ctaWrapper {
  text-align: center;
}

// --------------------------------------------------------
// Hero Split
// --------------------------------------------------------

.Hero--split {
  .Hero-background {}
  .Hero-cta {}
  .HeroBackground--left {}
  .HeroBackground--right {}
}

.HeroSplit-container { @extend .container; }

.HeroCta--left {}
.HeroCta-buttonWrapper.buttonWrapper--left {}

.HeroCta--right {}
.HeroCta-buttonWrapper.buttonWrapper--right {}

.HeroSplit-textAlignWrapper {}
.HeroSplit-fullWidthHelper {}

// -----------------------------------------------------------------------------
// Hero Typography
// -----------------------------------------------------------------------------

.Hero-h1 {
  text-align: center;
  color: $color-white;

  &.l-h1 {
    @include flex(1);
    position: relative;
    z-index: 1;
  }
}

.Hero-h3 {
  text-align: center;
  
  &.l-h3 {
    position: relative;
  }
}
