// -------------------------
// Quick View
// -------------------------

.quick-view {

}

.quick-view__close {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 14px;
  
  @media (min-width: $screen-sm-min) {
    right: 20px;  
  }
}