// -------------------------
// Mobile Menu
// -------------------------

.mobile-menu-block {

  & + & {
    margin-top: 30px;
  }
}

.mobile-menu-list {
  @include list-unstyled;
  margin-bottom: 0;
  text-align: center;  
}

.mobile-menu-block--primary {

}

.mobile-menu-block--secondary {

}

.mobile-menu-block--social {

  li {
    display: inline-block;
    margin: 0 6px;
  }

  a {
    padding: 5px;
  }

  .icon {
    height: 16px;
    width: 16px;
  }
}
