<div class="layout-content-wrapper">
  <div class="container">
    <div class="page-header">
      <h1 class="page-header__title">{{ 'general.404.title' | t }}</h1>
      <div class="page-header__subtitle">
        {{ 'general.404.subtext_html' | t }}
      </div>
    </div>
  </div>
</div>