<div class="layout-content-wrapper">
  <div class="container">

    {% include 'page-header', ph_title: page.title %}

    <div class="rte mx-auto" style="max-width: 60em;">
      {{ page.content }}
    </div>

  </div>
</div>
