<div class="layout-content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <div class="page-header">
          <h1 class="page-header__title">Z-Theme Components</h1>
          <div class="page-header__subtitle">
            This page is here to document available components for use on the site. These are hard coded in an alternate page template file, named <code>page.components.liquid</code>.
          </div>          
        </div>

        <h3>Table of Contents</h3>
        <ul>
          <li><a href="#docs-product-card">Product Card</a></li>
          <li><a href="#docs-article-card">Article Card</a></li>
          <li><a href="#docs-page-hero">Page Hero</a></li>
          <li><a href="#docs-banners">Banners</a></li>
          <li><a href="#docs-modals">Modals</a></li>
        </ul>

        <h3 id="docs-product-card" class="docs-title">Product Card</h3>
        <p>See <code>snippets/product-card.liquid</code>.</p>
        {% assign all_collection = collections['all'] %}
        {% if all_collection.products.size > 0 %}
          {% assign test_product = all_collection.products[0] %}
          <div style="max-width: 500px;">
            {% include 'product-card', product: test_product %}
          </div>
        {% else %}
          <em>The product card requires a Shopify product in order to work.  <a href="{{ shop.url }}/admin/products/new">Go here to make one</a></em>.
        {% endif %}

        <h3 id="docs-article-card" class="docs-title">Article Card</h3>
        <p>See <code>snippets/article-card.liquid</code>.</p>
        {% assign news_blog = blogs['news'] %}
        {% if news_blog.articles_count > 0 %}
          {% assign test_article = news_blog.articles[0] %}
          <div style="max-width: 500px;">
            {% include 'article-card', article: test_article %}
          </div>
        {% else %}
          The article card requires a Shopify article in order to work.  <a href="{{ shop.url }}/admin/products/new">Go here to make one</a> and add it to the default "News" blog to see this component.
        {% endif %}

        <h3 id="docs-banners" class="docs-title">Banners</h3>
        <p>Banners are one of the most flexible and re-usable components on the site.  They consist of a parent <code>.banner</code> element and any number of child <code>.banner__panel</code> elements. The parent <code>.banner</code> element accepts <code>.banner--tall</code> and <code>.banner--short</code> modifier classes to create different sized banners.  Note that these modifier classes affect the vertical padding of the child banner panels.</p>

        <p>Each banner panel has options for content alignment, text alignment, ctas, color inversion, custom vertical padding and content width, and background images plus positioning at 3 different screen sizes.  Most options are optional and have fallbacks.  See <code>snippets/banner-panel.liquid</code> for the full list of options.</p>

        <p>Banners should generally be used <em>outside</em> of <code>.container</code> elements in order to be full bleed.  They have their own child <code>.container</code> elements to ensure that content doesn't stretch beyond the max content width for the site.</p>

        <p><strong>Note</strong>: Banner panel styling is set via a small style block contained within the snippet.  Because we use an ID inside this style block to target the specific panel, you <em>must</em> pass a unique ID string into the snippet.  For most use cases, some combination of section ID, block ID, and forloop index will do the trick.</p>

        <div class="banner">
          {% include 'banner-panel',
                      id: "123abc",
                      content_alignment: "center",
                      title: "Banner Panel Title 1",
                      content_alignment: "left",
                      text: "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          %}
          {% include 'banner-panel',
                      id: "abc123",
                      content_alignment: "center",
                      title: "Banner Panel Title 2",
                      content_alignment: "right",
                      text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
          %}  
        </div>

        <h3 id="docs-page-hero" class="docs-title">Page Hero</h3>
        <p>Page heroes function similar to banners but should only be used at the top of a page.  They are typically used as an enhancement over the text-only <code>.page-header</code> element when we want to display text over a background image.  Although their base styling is similar, they are built separately from banners to allow more flexibility.  The snippet API is also slightly different to support different features.</p>
        
        <p><strong>Note</strong>: Because of the limitations of liquid code and the fact that the page-hero snippet is built to accept an image object as opposed to an image fie url, it is impossible to pass a theme image asset to the snippet in order to show a fully featured example.  The example below shows the page hero without a background image, but one can be easily passed in as as a section setting (<code>section.settings.image</code>) or a reference from another object (<code>product.featured_image</code>).</p>

        {% include 'page-hero',
                    id: 'page-hero-123',
                    title: 'Page Hero Title',
                    toptitle: 'Introductory text goes here',
                    subtitle: 'Subtext goes down here',
                    cta_url: '/collections/all',
                    cta_text: 'Call to action link goes here'
        %}    

        <h3 id="docs-modals" class="docs-title">Modals</h3>
        <p>Built using <a href="https://getbootstrap.com/docs/3.3/javascript/#modals" target="_blank">Bootstrap's Modal</a>, use these to create an overlay to focus the user's attention.</p>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#test-modal-1">
          Launch Modal
        </button>

        <div class="modal fade" id="test-modal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">{% include 'icon-close' %}</a>
                <h3 class="modal-title" id="myModalLabel">Modal title</h3>
              </div>
              <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>