{% layout none %}

<div class="quick-view" data-quick-view>
  <div class="quick-view__contents">
    <div class="quick-view__contents-body" data-quick-view-contents-body>
      <a href="#" class="quick-view__close" title="Close Quick View" data-quick-view-close>{% include 'icon-close' %}</a>
      {% include 'product-detail-form', product: product %}
    </div>
  </div>
</div>