<div class="Filter-modalContainer js-mobile-filter-modal hidden hidden-lg hidden-xl">
  <div class="Filter-modalHeader u-pos-rel">
    <div class="Filter-mobileWrapper">
      <span class='h3'>Filter By</span>
      <a href="#" id='clear-filter-btn' class="js-filter-clear Filter-mobileClear flex-pseudo-vertical-center flex-col link">Clear Filters</a>
      <span id='zero-indicator'  class="Filter-mobileClear flex-pseudo-vertical-center flex-col">No Filters</span>
    </div>
    <a href="#" class="Filter-modalClose js-modal-filter-close flex-pseudo-vertical-center flex-col">{% include 'icon-close' %}</a>
  </div>
  <div class="Filter-modalContent js-mobile-filter-container"></div>
</div>
