<div class="Filter-modal hidden" data-selector="mobile-filter-modal">
  <h3>Filter By</h3>
  <a href="#" data-selector="clear-filter-button" data-action="filter-clear">Clear Filters</a>
  <span data-selector="filter-none">No Filters</span>
  <a href="#" data-action="close-filter-modal">{% include 'icon-close' %}</a>
  <div class="Filter-modalContent" data-selector="mobile-filter-container"></div>
</div>
