{%- comment %}

  Header Dropdown
  ------------------------------------------------------------------------------

  Usage:

  {% include 'header-dropdown',
              dropdown_id: { string } - required
              dropdown_content: { string } - optional
  %}

{% endcomment -%}

{% if dropdown_content != blank %}

  <div id="{{ dropdown_id }}" class="header-dropdown">
    <div class="header-container">
      {{ dropdown_content }}
    </div>
  </div>

{% endif %}