<ul class="header-nav__menu">
  {% if shop.customer_accounts_enabled %}
    <li class="header-nav__menu-item">
      {% if customer %}
        <a href="/account" title="Account">
          {% include 'icon-account' %}
          <span class="icon-fallback-text">{{ 'layout.customer.account' | t }}</span>
        </a>
      {% else %}
        <a href="/account/login" title="Login or register">
          {% include 'icon-account' %}
          <span class="icon-fallback-text">{{ 'layout.customer.account' | t }}</span>
        </a>
      {% endif %}
    </li>
  {% endif %}
  <li class="header-nav__menu-item">
    <a href="/cart" data-ajax-cart-trigger>
      <div class="header-cart__badge{% if cart.item_count > 0 %} has-items{% endif %}" data-cart-badge>
        {% include 'icon-cart' %}
        <span class="header-cart__badge-count" data-cart-badge-count>{{ cart.item_count }}</span>
    </a>
  </li>
  <li class="header-nav__menu-item">
    <a href="#" title="Toggle menu" data-mobile-menu-toggle>
      {% include 'icon-hamburger' %}
    </a>
  </li>
</ul>