{%- comment %}

  Header Dropdown CTA
  ------------------------------------------------------------------------------

  Usage:

  {% include 'header-dropdown-cta',
              cta_image: { image } - required  
              cta_link: { url } - optional
              cta_text: { string } - optional
  %}

{% endcomment -%}

{% assign has_cta_link = false %}
{% if cta_link != blank %}
  {% assign has_cta_link = true %}
{% endif %}

{% if cta_image %}
  <div class="header-dropdown__cta">
    {% if has_cta_link %}<a href="{{ cta_link }}">{% endif %}
      <div class="header-dropdown__cta-image"
           role="img"
           aria-label="{{ cta_image.alt }}"
           style="background-image: url({{ cta_image | img_url: '600x' }})"></div>
      <span>{{ cta_text }}</span>
    {% if has_cta_link %}</a>{% endif %}
  </div>
{% endif %}
