<div class="Popover {% if popover_classnames != '' %}{{popover_classnames}}{% endif %} {% if popover_is_active %} is-active{% endif %} {% if popover_position %}{{ popover_position }}{% else %}Popover--below{% endif %} ">
  <div class="Popover-content">
    {{ popover_content }}
  </div>
</div>
