<div class="layout-content-wrapper">
  <div class="container">

    {% include 'page-header',
                ph_title: 'Welcome to Z-Theme!',
                ph_subtitle: 'Z-Theme is a fully functioning boilerplate theme built on top of Slate.  Follow the instructions below to get started.'
    %}

    <div class="rte" style="max-width: 60em; margin-left: auto; margin-right: auto;">
      <ol>
        <li>Find and replace all instances of "Z-Theme" and "ztheme" throughout the codebase.</li>
        <li>Remove <code>logo.png</code> from the <code>assets</code> directory.</li>
        <li>Set up the included <strong>Styleguide</strong> by creating a page in Shopify and applying the <code>page.styles</code> template to it.</li>
        <li>Set up the included <strong>Components Guide</strong> by creating a page in Shopify and applying the <code>page.components</code> template to it.  You'll need to add a test product and test article (under the "News" blog) in order for all components to display correctly.</li>
        <li>Set up the included <strong>How To Guide</strong> by creating a page in Shopify and applying the <code>page.how-to</code> template to it.</li>
        <li>Remove this welcome message by deleting the line of code that includes this onboarding snippet (see <code>templates/index.liquid</code>).</li>
      </ol>
    </div>
  </div>
</div>
