<div class="layout-content-wrapper">
  <div class="container">
    <div class="page-header">
      <h1 class="page-header__title">Welcome to Z-Theme!</h1>
    </div>
    <div class="rte" style="max-width: 60em; margin-left: auto; margin-right: auto;">
      <p>To get started, you'll want to remove this welcome message by removing the line of code that includes this onboarding snippet.</p>
      <p>Next, you'll want to find and replace all instances of "Z-Theme" throughout the codebase.</p>
      <p>Then, set up the include <strong>styleguide</strong> by creating a page in Shopify and applying the <code>page.styles</code> template to it.</p>
    </div>
  </div>
</div>