$cart-padding-h: 15px;
$cart-padding-v: 34px;

.cart-list {

}

.cart-list__header {
  display: none;
  text-transform: uppercase;
  font-family: $headings-font-family;
  font-weight: bold;

  @include media-breakpoint-up('lg') {
    display: block;
  }
}

.cart-list__body {
  border-style: solid;
  border-width: 2px 0;
  border-color: $black;

  @include media-breakpoint-up('lg') {
    border-width: 1px 0;
  }
}

.cart-list__row {
  position: relative;

  &:not(:last-child) {
    border-bottom: 2px solid $black;

    @include media-breakpoint-up('lg') {
      border-bottom-width: 1px;
    }
  }
}

.cart-list__header,
.cart-list__row,
.cart-list__footer {
  @include clearfix;
  > div {
    padding: $cart-padding-v $cart-padding-h;
    float: left;
  }

  // Make flush with left and right on larger screens
  @include media-breakpoint-up('lg') {
    > div:first-child {
      padding-left: 0;
    }
    > div:last-child {
      padding-right: 0;
    }
  }
}

// Make the padding smaller for the header
.cart-list__header > div {
  padding-top: 7px;
  padding-bottom: 7px;
}

.cart-list__footer > div {
  @include media-breakpoint-down('sm') {
    padding-left: 0;
    padding-right: 0;
  }
}

.cart-list__col-product,
.cart-list__footer-row {
  width: 100%;
}

.cart-list__col-quantity,
.cart-list__col-subtotal,
.cart-list__col-remove {
  display: none;
  text-align: center;
}

.cart-list__col-remove {
  svg {
    fill: $body-color;
  }
}

.cart-list__col-product {
  padding-right: 20px; // Make extra room for the absolutely positioned remove button
}

@include media-breakpoint-up('lg') {

  .cart-list__col-product {
    width: 50%;
    padding-right: $cart-padding-h;
  }

  .cart-list__col-quantity,
  .cart-list__col-subtotal,
  .cart-list__col-remove {
    display: block;
    width: 50% * 1/3;
  }

  .cart-list__row {

  }

  .cart-list__footer-row {
    width: 50%;
  }

  // .cart-list__footer-totals {
  //   text-align: right;
  // }

  .cart-list__footer-width-container {
    max-width: 335px;
    margin-left: auto;
  }
}

.cart-list__item-image {
  float: left;
  width: 100px;
  height: auto;

  @include media-breakpoint-up('lg') {
    width: 120px;
  }
}

.cart-list__item-details {
  margin-left: 100px + $grid-gutter-width;

  @include media-breakpoint-up('lg') {
    margin-left: 120px + $grid-gutter-width; // gutter between image and item details
  }
}

.cart-list__item-details-remove {
  position: absolute;
  top: $cart-padding-v - 2px;
  right: -4px;

  @include media-breakpoint-up('lg') {
    display: none;
  }

  svg {
    fill: $body-color;
  }
}

.cart-list__item-details-title {
  margin-bottom: 10px;
}

.cart-list__item-quantity {
  width: 75px;
  margin: 0 auto;
}

.additional-checkout-buttons {
  margin: 10px 0;
}
