// -------------------------
// Password Page
// -------------------------

.password-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 100px 0 80px;

  @include media-breakpoint-up('lg') {
    padding: 200px 0 170px;
    padding: 13vh 0 11vh;
  }

  @media (min-width: map-get($grid-breakpoints, 'md')) and (min-height: 500px) {
    @include stretch-within;
  }

  h2 {
    @include media-breakpoint-up('xxl') {
      font-size: 3.5vw;
    }
  }

  h2 + h4 {
    margin-top: -1rem;
  }

  &.password-page--light {
    color: $white;

    a, a:hover, a:focus, h1, h2, h3, h4, h5, h6 {
      color: $white;
    }

    svg {
      fill: $white;
    }
  }
}

.password__background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: {
    size: cover;
    position: center;
  }
}
