// -------------------------
// Component Animations
// -------------------------

.fade {
  opacity: 0;
  transition: opacity $transition-duration-fast $transition-timing-function-base;
  &.in {
    opacity: 1;
  }
}

.collapse {
  display: none;

  &.in      { display: block; }
  // [converter] extracted tr&.in to tr.collapse.in
  // [converter] extracted tbody&.in to tbody.collapse.in
}

tr.collapse.in    { display: table-row; }

tbody.collapse.in { display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-property: height, visibility;
  transition-duration: $transition-duration-base;
  transition-timing-function: $transition-timing-function-base;
}
