// -------------------------
// Pagination
// -------------------------

.pagination {

  .page,
  .next,
  .prev {

    &:first-child {

    }
    &:last-child {

    }
  }

  .page {

    &.current {

    }
  }

  .prev,
  .next {

    a {

    }
  }

}
