// -------------------------
// Tabs
// -------------------------

.tabs-container {

}

.tabs-list-wrapper {

}

.tabs-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    display: block;
    margin: 0;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.tab {

  &.is-active {
    cursor: default;
    border-bottom: 1px solid $black;
  }
}

.tabs-panels-wrapper {
  position: relative;
}

.tab-panel {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 300ms ease-in-out;

  &.is-active {
    opacity: 1;
    pointer-events: auto;
  }
}
