{% paginate collection.products by 12 %}

<section class="Collection" data-section-id="{{ section.id }}" data-section-type="collections-template">
  {%- if collection.image -%}
    {%- assign background_image = collection.image | img_url: '2048x' -%}
    {% assign hero_classnames = 'Hero--collection' %}
  {%- else -%}
    {% assign hero_classnames = 'Hero--fallback' %}
  {%- endif -%}

  {% if collection.description != blank %}
    {% assign hero_desc = collection.description %}
  {% endif %}

  {% assign hero_title = collection.title %}

  {% include 'hero-template',
    hero_has_cta: false,
    hero_height: 'Hero--sm',
    shrink_hero_container_width: true
  %}

  <header role="banner" class="Collection-filter">
    <div class="container">
      {% include 'breadcrumbs' %}
    </div>
    <div class="Filter-container js-filter-main-container">
      <div class="container">
        {% include 'filters' %}
      </div>
    </div>
  </header>

  <div class="flex container section--padded Collection Collection-productGrid {% if product_remainder != 0 %}grid_uneven{% endif %}">
    {% for product in collection.products %}
      {% assign product_url = product.url | within: collection %}
      {% include 'product-thumbnail',
        classnames: 'Collection-product flex'
      %}
    {% else %}
      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
        {% for i in (1..8) %}
          <a href="#">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
          </a>

          <p>
            <a href="#">{{ 'homepage.onboarding.product_title' | t }}</a>
          </p>

          <p>
            {{ 1999 | money }}
          </p>
        {% endfor %}
      {% else %}
        <p>{{ 'collections.general.no_matches' | t }}</p>
      {% endif %}

    {% endfor %}

  </div>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
</section>

{% endpaginate %}

{% schema %}
  {
    "name": "Collections Hero",
    "settings": [
      {
        "id": "hero_title",
        "type": "text",
        "label": "Hero Title"
      },
      {
        "id": "background_image",
        "type": "url",
        "label": "Hero Background Image"
      }
    ]
  }
{% endschema %}
