{% assign menu_html          = '' %}
{% assign MAX_DROPDOWN_MENUS = 2 %}
{% assign MAX_DROPDOWN_CTAS  = 4 %}

{% for block in section.blocks %}
  {% if block.type == "nav_item" %}

    {% comment %} Generate the dropdown contents and then we can check if it's blank {% endcomment %}
    {% capture dropdown_menu_html %}
      {% if block.settings.linklist_1 != blank or block.settings.linklist_2 != blank %}
        {% for i in (1..MAX_DROPDOWN_MENUS) %}
          {% assign linklist_setting_handle = 'linklist_' | append: i %}
          {% include 'header-dropdown-menu', ll_handle: block.settings[linklist_setting_handle] %}
        {% endfor %}
      {% endif %}
    {% endcapture %}

    {% capture dropdown_cta_html %}
      {% for i in (1..MAX_DROPDOWN_CTAS) %}
        {% assign cta_link_setting_handle  = "cta_" | append: i | append: "_url" %}
        {% assign cta_text_setting_handle  = "cta_" | append: i | append: "_text" %}
        {% assign cta_image_setting_handle = "cta_" | append: i | append: "_image" %}
        {% include 'header-dropdown-cta',
                    cta_link: block.settings[cta_link_setting_handle],
                    cta_image: block.settings[cta_image_setting_handle],
                    cta_text: block.settings[cta_text_setting_handle]
        %}
      {% endfor %}
    {% endcapture %}
    {% comment %} END Generate the dropdown contents {% endcomment %}

    {% assign has_dropdown = false %}
    {% if dropdown_menu_html != blank or dropdown_cta_html != blank %}
      {% assign has_dropdown = true %}
    {% endif %}    

    {% capture menu_item_html %}
      {% include 'header-menu-item',
                 block_id: block.id,
                 attributes: block.shopify_attributes,
                 url: block.settings.url,
                 title: block.settings.title,
                 dropdown_menu_html: dropdown_menu_html,
                 dropdown_cta_html: dropdown_cta_html
      %}
    {% endcapture %}

    {% assign menu_html = menu_html | append: menu_item_html %}

  {% endif %}
{% endfor %}

{% if menu_html != blank %}
  {% assign menu_html = menu_html | prepend: '<ul class="header-nav__menu">' %}
  {% assign menu_html = menu_html | append: '</ul>' %}
{% endif %}


<div data-section-id="{{ section.id }}" data-section-type="header">

  <header class="header" role="banner" data-header>
    <div class="header-container">
      
      {% comment %} Logo {% endcomment %}
      <div class="header-nav header-nav--left header-nav--logo">
        {% include 'header-logo' %}
      </div>

      {% comment %} Main Menu {% endcomment %}
      <div class="header-nav header-nav--center header-nav--hide-on-mobile">

        {{ menu_html }}

      </div>

      {% comment %} User Nav (Account + Cart) {% endcomment %}
      <div class="header-nav header-nav--right header-nav--hide-on-mobile">
        
        {% include 'header-menu-user' %}

      </div>

      {% comment %} Header nav on mobile size screens - search, account, hamburger {% endcomment %}
      <div class="header-nav header-nav--right header-nav--hide-on-desktop">
        
        {% include 'header-menu-mobile' %}

      </div>

    </div>
  </header>

</div>

{% schema %}
  {
    "name": "Header",
    "settings": [],
    "blocks": [
      {
        "type": "nav_item",
        "name": "Navigation Item",
        "settings": [
          {
             "type": "header",
             "content": "Info",
             "info": "A title and a link are required for each navigation item.  If a menu or CTA is added, the nav item will display a dropdown below it on hover."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Link"
          },
          {
             "type": "header",
             "content": "Menus",
             "info": "Each navigation item dropdown supports up to 2 menus."
          },
          {
            "type": "link_list",
            "id": "linklist_1",
            "label": "Menu 1"
          },
          {
            "type": "link_list",
            "id": "linklist_2",
            "label": "Menu 2"
          },
          {
             "type": "header",
             "content": "CTAs",
             "info": "Each navigation item dropdown supports up to 4 CTA blocks.  A link and text are required, the image is optional."
          },
          {
            "type": "header",
            "content": "CTA 1"
          },
          {
            "type": "text",
            "id": "cta_1_text",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "cta_1_url",
            "label": "Link"
          },
          {
            "type": "image_picker",
            "id": "cta_1_image",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "CTA 2"
          },
          {
            "type": "text",
            "id": "cta_2_text",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "cta_2_url",
            "label": "Link"
          },
          {
            "type": "image_picker",
            "id": "cta_2_image",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "CTA 3"
          },
          {
            "type": "text",
            "id": "cta_3_text",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "cta_3_url",
            "label": "Link"
          },
          {
            "type": "image_picker",
            "id": "cta_3_image",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "CTA 4"
          },
          {
            "type": "text",
            "id": "cta_4_text",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "cta_4_url",
            "label": "Link"
          },
          {
            "type": "image_picker",
            "id": "cta_4_image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}
