<div data-section-id="{{ section.id }}" data-section-type="image-with-text">
  {% include 'image-with-text',
              layout: section.settings.layout,
              image: section.settings.background,
              image_small: section.settings.background_small,
              title: section.settings.title,
              text: section.settings.text,
              cta_url: section.settings.cta_url,
              cta_text: section.settings.cta_text
  %}
</div>

{% schema %}
  {
    "name": "Text + Image",
    "class": "index-section",
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "options": [
          { "value": "left", "label": "Image Left" },
          { "value": "right", "label": "Image Right" }
        ],
        "default": "left"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },      
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA Link"
      },
      {
        "type": "image_picker",
        "id": "background",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "background_small",
        "label": "Main Image"
      }  
    ],

    "presets": [
      {
        "name": "Text + Image",
        "category": "Image",
        "settings": {

        }
      }
    ]    
  }
{% endschema %}