<div data-section-id="{{ section.id }}" data-section-type="banner">
  <div class="banner">

    {% for block in section.blocks %}
      {% if block.type == 'banner_panel' %}
        {% include 'banner-panel',
                    id: block.id,
                    content_alignment: block.settings.content_alignment,
                    content_max_width: block.settings.content_max_width,
                    background_image: block.settings.background_base,
                    background_image_vertical_alignment: block.settings.background_image_vertical_alignment,
                    background_image_medium: block.settings.background_medium,
                    background_image_medium_vertical_alignment: block.settings.background_medium_vertical_alignment,
                    background_image_small: block.settings.background_small,
                    background_image_small_vertical_alignment: block.settings.background_small_vertical_alignment,
                    light_text: block.settings.light_text,
                    title: block.settings.title,
                    text: block.settings.text,
                    cta_1_url: block.settings.cta_1_url,
                    cta_1_text: block.settings.cta_1_text,
                    cta_2_url: block.settings.cta_2_url,
                    cta_2_text: block.settings.cta_2_text,
        %}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Banner",
    "settings": [],
    "blocks": [
      {
        "type": "banner_panel",
        "name": "Panel",
        "settings": [
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "cta_1_text",
            "label": "CTA 1 Text"
          },
          {
            "type": "url",
            "id": "cta_1_url",
            "label": "CTA 1 Link"
          },
          {
            "type": "text",
            "id": "cta_2_text",
            "label": "CTA 2 Text"
          },
          {
            "type": "url",
            "id": "cta_2_url",
            "label": "CTA 2 Link"
          },
          {
            "type": "header",
            "content": "Design"
          },
          {
            "type": "checkbox",
            "id" : "light_text",
            "label": "Light Text",
            "default": false
          },
          {
            "type":      "select",
            "id":        "content_alignment",
            "label":     "Content Alignment",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" }
            ],
            "default":   "center"
          },
          {
            "type": "range",
            "id":   "content_max_width",
            "min":  300,
            "max":  850,
            "step": 25,
            "unit": "px",
            "label": "Max Content Width",
            "default": 450
          },
          {
            "type": "header",
            "content": "Background - Desktop",
            "info": "Main image will always be used.  Tablet and mobile images will be displayed if they are set."
          },
          {
            "type": "select",
            "id": "background_image_vertical_alignment",
            "label": "Vertical Alignment",
            "options": [
              { "value": "center", "label": "Center" },
              { "value": "top", "label": "Top" },
              { "value": "bottom", "label": "Bottom" }
            ],
            "default": "center"
          },
          {
            "type": "image_picker",
            "id": "background_base",
            "label": "Main Image"
          },
          {
            "type": "header",
            "content": "Background - Tablet"
          },
          {
            "type": "select",
            "id": "background_medium_vertical_alignment",
            "label": "Vertical Alignment",
            "options": [
              { "value": "center", "label": "Center" },
              { "value": "top", "label": "Top" },
              { "value": "bottom", "label": "Bottom" }
            ],
            "default": "center"
          },
          {
            "type": "image_picker",
            "id": "background_medium",
            "label": "Main Image"
          },
          {
            "type": "header",
            "content": "Background - Mobile"
          },
          {
            "type": "select",
            "id": "background_small_vertical_alignment",
            "label": "Vertical Alignment",
            "options": [
              { "value": "center", "label": "Center" },
              { "value": "top", "label": "Top" },
              { "value": "bottom", "label": "Bottom" }
            ],
            "default": "center"
          },
          {
            "type": "image_picker",
            "id": "background_small",
            "label": "Main Image"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Banner",
      "category": "Image",
      "settings": {},
      "blocks": [
        {
          "type": "banner_panel",
          "settings": {
            "title": "Banner Text Here",
            "text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua"
          }
        }
      ]
    }]
  }
{% endschema %}