<div data-section-id="{{ section.id }}" data-section-type="pencil-banner">
  {% if section.settings.toggle_banner and section.settings.banner_content != blank %}
    <div class="PencilBanner">
      <div class="container">
        {{ section.settings.banner_content }}
        <a href="#" class="PencilBanner-close" data-pencil-banner-close>&times;</a>
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Pencil Banner",
    "settings": [
      {
        "id": "toggle_banner",
        "type": "checkbox",
        "label": "Show Pencil Banner",
        "default": false
      },
      {
        "id": "banner_content",
        "type": "richtext", 
        "label": "Pencil Banner Content",
        "default": "<p>Default Banner Text</p>"
      }
    ]
  }
{% endschema %}
